<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<!--  from www.cssmoban.com  --> 

<html xmlns="http://www.w3.org/1999/xhtml">

<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<title>Camera Shop Online - free CSS template</title>

<meta name="keywords" content="free website template, free CSS layout, Camera Shop Website, HTML CSS" />

<meta name="description" content="Camera Shop Online Website - free CSS website layout" />

<link href="templatemo_style.css" rel="stylesheet" type="text/css" />

</head>

<body>
<div id="templatemo_container">
	<div id="templatemo_header_section">
    		<div id="templatemo_menu">
        	<ul>
            	<li><a href="#">Support</a></li>
                <li><a href="#">Shopping Cart</a></li>
                <li><a href="#">FAQs</a></li>
            </ul>
        </div>
    </div>
    <div id="templatemo_content">
    	<div id="templatemo_left_section">
			<div class="templatemo_ver_menu">
            	<ul>
                	<li> <a href="index.html">Home</a></li>

					<li> <a href="#" class="current">About Us</a></li>

					<li> <a href="#">Promotions</a></li>

					<li> <a href="#">Price List</a></li>

					<li> <a href="#">Contact Us</a></li>
                </ul>
            </div>
            <div class="validate">
            <a href="http://validator.w3.org/check?uri=referer">
     		       	<img height="31" alt="Valid XHTML 1.0 Transitional" src="http://www.w3.org/Icons/valid-xhtml10" width="88" vspace="8" border="0" />
				</a>
            	  <a href="http://jigsaw.w3.org/css-validator/check/referer">
            		<img alt="Valid CSS!" src="http://jigsaw.w3.org/css-validator/images/vcss-blue" vspace="8" border="0" />                 
                 </a>
            </div>
        </div>
		<div id="templatemo_right_section_2">
<div class="templatemo_section_box_3">
            	<h2>About Us</h2>
                <p>
                <img alt="Picture" src="images/templatemo_pic.jpg" /><span class="head">Praesent sollicitudin mollis leo</span><br />
                This is a FREE CSS web template provided by <a href="http://www.cssmoban.com">网页模板</a>. Fusce quis diam sit amet tortor luctus pellentesque. Donec accumsan urna non elit tristique mattis. Vivamus fermentum orci viverra nisl. In nec magna id ipsum aliquam dictum.</p><br />
                <p><span class="head">Morbi nec magna pulvinar mi scelerisque posuere</span><br />
                Nunc dictum, massa non dignissim commodo, metus quam vehicula lorem, et dignissim enim augue vitae pede. Donec at arcu. Nunc aliquam, dolor vitae sollicitudin lacinia, nibh orci sagittis diam, dignissim sodales dui erat nec eros.</p>
                <br />
                <p><span class="head">Quisque at nulla eu elit adipiscing tempor</span><br />
                Fusce quis enim. Aenean eleifend, neque hendrerit elementum sodales, odio erat sagittis quam, sed tempor orci magna vitae tellus. Proin dui mauris, tempor eget, pulvinar sed, pretium sit amet, dui. Proin vulputate justo et quam. Cras nisl eros, elementum eu, iaculis vitae, viverra ut, ligula. Pellentesque metus. Duis dolor.</p>
    <a href="#"><img alt="Readmore" src="images/templatemo_more.jpg"/></a>
            </div>
            
            </div>
      <div id="templatemo_footer_section">
        	<div class="copyright">
            	Copyright © <a href="#">Your Company Name</a> | from <a href="http://www.cssmoban.com" target="_parent">网站模板</a>
            </div>
	</div> 	     
    </div>
    
</div>



  

</body>

<!--  from www.cssmoban.com  --> 

</html>