<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<!--  from www.cssmoban.com  --> 

<html xmlns="http://www.w3.org/1999/xhtml">

<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<title>Camera Online - free CSS template</title>

<meta name="keywords" content="free website, 网站模板, Camera Online Website, HTML CSS" />

<meta name="description" content="Camera Online Website - free CSS template" />

<link href="templatemo_style.css" rel="stylesheet" type="text/css" />

</head>

<body>
<div id="templatemo_container">
	<div id="templatemo_header_section">
    		<div id="templatemo_menu">
        	<ul>
            	<li><a href="#">Support</a></li>
                <li><a href="/moban/register.php">注册</a></li>
                <li><a href="/moban/index.php">登录</a></li>
            </ul>
        </div>
    </div>
    <div id="templatemo_content">
    	<div id="templatemo_left_section">
			<div class="templatemo_ver_menu">
            	<ul>
                	<li> <a href="#" class="current">Home</a></li>

					<li> <a href="aboutus.html">About Us</a></li>

					<li> <a href="aboutus.html">Promotions</a></li>

					<li> <a href="#">Price List</a></li>

					<li> <a href="#">Contact Us</a></li>

                </ul>
            </div>
            <div class="validate">
            <a href="http://validator.w3.org/check?uri=referer">
     		       	<img height="31" alt="Valid XHTML 1.0 Transitional" src="http://www.w3.org/Icons/valid-xhtml10" width="88" vspace="8" border="0" />
				</a>
            	  <a href="http://jigsaw.w3.org/css-validator/check/referer">
            		<img alt="Valid CSS!" src="http://jigsaw.w3.org/css-validator/images/vcss-blue" vspace="8" border="0" />                 
                 </a>
            </div>
        </div>
		<div id="templatemo_right_section">
			<div class="templatemo_section_box_1">
            	<h3>Free CSS</h3>
                <p>Lorem ipsum dolor sit amet, consec tetur adipi scing elit. Nullam sollici tudin libero. Maece nas posuere congue massa. </p>
                <a href="#"><img alt="Readmore" src="images/templatemo_more.jpg"/></a>
            </div>
            <div class="templatemo_section_box_1">
            	<h3>Zoom 20x</h3>
                <p>Lorem ipsum dolor sit amet, consec tetur adipi scing elit. Nullam sollici tudin libero. Maece nas posuere congue massa.</p>
                <a href="#"><img alt="Readmore" src="images/templatemo_more.jpg"/></a>
            </div>
            <div class="templatemo_section_box_1">
            	<h3>Zoom 30x</h3>
                <p>Lorem ipsum dolor sit amet, consec tetur adipi scing elit. Nullam sollici tudin libero. Maece nas posuere congue massa.</p>
                <a href="#"><img alt="Readmore" src="images/templatemo_more.jpg"/></a>
            </div>
            <div class="templatemo_section_box_2">
            	<h2>Promotion</h2>
                <p>
                <img alt="Picture" src="images/templatemo_pic.jpg" /><span class="head">Super Optical Zoom Model</span><br />
                This is a FREE CSS web template provided by <a href="http://www.cssmoban.com" target="_parent">网页模板</a>. You may apply this layout for any of your websites.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum egestas dapibus augue. Proin sed orci quis metus semper ultricies. Nulla tincidunt, dui eget vehicula sodales, neque nulla hendrerit urna, vitae vehicula orci odio et dolor. Aenean quis mi. Donec orci risus, </p>
				<a href="#"><img alt="Readmore" src="images/templatemo_more.jpg"/></a>
            </div>
        </div>
      <div id="templatemo_footer_section">
        	<div class="copyright">
            	Copyright © <a href="#">Your Company Name</a> | from <a href="http://www.cssmoban.com" target="_parent">网站模板</a>
            </div>
	</div> 	     
    </div>
    
</div>

</body>
<!--  from www.cssmoban.com  --> 
</html>
